.texto-conta{
  text-align: center;
  margin-top: 40px;
  color: white;
}

.texto-rodape{
  text-align: center;
  color: white;
  padding-top: 30vh;
}

.pagina-login{
  background-image: url('../img/fundo4.png');
}

.list{
  background: rgba(0, 0, 0, 0);
}

.bar{
  opacity: 0.4;
}

.pagina-login{
  background-image: url('../img/fundo4.png');
}

.list{
  background: rgba(0, 0, 0, 0);
}

.bar{
  opacity: 0.4;
}
