<ion-view view-title="Arquivos">
  <ion-content>

    <div class="list list-inset">

      <ul class="list">
          <li class="item">
              Arquivo 1
          </li>
      </ul>

      <ul class="list">
          <li class="item">
              Arquivo 2
          </li>
      </ul>

      <ul class="list">
          <li class="item">
              Arquivo 3
          </li>
      </ul>

      <ul class="list">
          <li class="item">
              Arquivo N
          </li>
      </ul>

    </div>

</ion-view>
