<ion-view view-title="Grupo">
  <ion-content class="is-header">
    <div class="card">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>
 </ion-content>
  <ion-content class="has-search">
    <div class="list list-inset">
      <div class="list">
        <a class="item item-thumbnail-left" href="#">
          <img src="img/grupo.png">
          <h2>Nome do Grupo</h2>
          <p>Número de Mensagens</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>