<ion-modal-view>
  <ion-content class="pagina-login">
    <ion-header-bar>
      <h1 class="title">Login</h1>
      <div class="buttons">
        <button class="button button-clear" ng-click="closeLogin()">Close</button>
      </div>
    </ion-header-bar>

    <div class="bar bar-header bar-light">
      <h1 class="title">Login</h1>
    </div>

    <div class="list list-inset has-header col-12">
      <div class="list col-12">
        <div class="list list-inset col-12">
          <label class="item item-input col-6">
            <input type="text" placeholder="User name">

          </label>
          <label class="item item-input col-6">
            <input type="password" placeholder="Senha">
          </label>

          <label>
            <button class="button button-block button-balanced" ng-click="login()" type="submit">Log in</button>
          </label>
          <label>
            <button class="button button-block button-balanced" ng-click="cadastro()" type="submit">Cadastro</button>
          </label>

        </div>
      </div>
    </div>

      <div class="texto-conta">
        <p>Você já possui sua conta?</p>
      </div>

      <div class="texto-rodape">
        <p>Copyright © 2017</p>
      </div>

    </ion-content>
  </ion-modal-view>
